{% extends "base-page.twig" %}

{% block page_title %}Our Attorneys{% endblock %}

{% block page_featured_image %}<img alt="Jones Act Law - Our Maritime Attorneys" src="/wp-content/uploads/2018/06/2018-TYF-Team-Banner.jpg" />{% endblock %}

{% block page_body %}

    {% if attorneys|length > 0 %}
        <div class="row">
            <div class="col-xs-12">
                <h4>Our Maritime Attorneys</h4>
            </div>
        </div>
        <br />
        <div class="row">
            {% for attorney in attorneys %}
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="jal-any-attorney-profile">
                        <img alt="{{ attorney.thumbnail.alt }}" src="{{ attorney.thumbnail.src }}" />
                        <span class="jal-attorney-profile-name">{{ attorney.title }}</span>
                    <span class="jal-attorney-profile-title">
                        <a href="{{ attorney.link }}" class="btn-block btn btn-info">View Profile</a>
                    </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr />
    {% endif %}

{% endblock %}